[submodule "ardener-wifi"]
	path = wifi
	url = git@github.com:mic47/ardener-wifi.git
[submodule "ardener-server"]
	path = server
	url = git@github.com:mic47/ardener-server.git
[submodule "ardener-device"]
	path = device
	url = git@github.com:mic47/ardener.git
[submodule "ESP8266_NONOS_SDK"]
	path = ESP8266_NONOS_SDK
	url = git@github.com:espressif/ESP8266_NONOS_SDK.git
[submodule "SerialESP8266wifi"]
	path = SerialESP8266wifi
	url = https://github.com/mic47/ESP8266wifi
